body{
    background-image: url('../Home-assets/bg.jpg');
}
.MAins{
    background-image: url('../Home-assets/right-parallax.png');
}
#SociaNav i{
    background-color:gray;
    padding: 2px;
    line-height: 1.04em;
    font-size: 12px;
}
#SociaNav h6{
    font-size: 9px;
}
#BackgroundImg1{
    background-image: url('../Home-assets/meganav-beverages.jpg');
    background-position: center;
    background-repeat: no-repeat;

}
@media screen and (min-width:500px){
    #Nodisplay{
        display: none;
    }
}
@media screen and (min-width:500px){
    #Nodisplay1{

        display: none;
    }
}

@media screen and (max-width:500px){
    #hidden-mobile{
        display:none;
    }
}
#BackgroundImg2{
    background-image: url('../Home-assets/featured-donuts.jpg');
    background-position: center;
    background-repeat: no-repeat;

}
#carosulcap{
    top: 0px;
    line-height: 0.0em;
    left: 18px;  
}
#carosulbtn{
    float: left;
    background-color:#f22691;
    border-style: none;
    font-size: 12px;
    width: auto;
    height: auto;
}
#prev{
    background-color:#f22691;
}
#Nex{
    background-color:#f22691; 
}
.btnCol{
    background-color:#f22691;
}
.btnColler{
    border-style: none;
}
.Darkness{
    background-color: black;
}
#SummerSentence{
    background-color: #462202;
    color: white;
    line-height: 1.04em;
    font-size: 14px;
    padding-left:20px;
    font-weight: bold;
}
#FeatSentence2{
    background-color: #f22691;
    color: white;
    line-height: 1em;
    font-size: 14px;
    padding-left:10px;
    font-weight: bold;
}
#Insta{
    text-align: center;
    display: inline-block;
    padding: 6px 6px 6px 6px;
}
#imgIns{
    background-image: url('../Home-assets/meganav-food.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#imgInse{
    background-image: url('../Home-assets/summer-sensations.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#IndulgeRow{
    text-align: center;
}
#Ind{
      text-align:right;
      font-weight: bold;
      transform: skewY(2deg);
      -webkit-transform: skewY(-13deg); 
      color:#f22691;
      font-family:'VAG Rounded std';
}
#Mens{
    text-align:left; 
    font-weight: bold;
    color: #ff6600;
}
.summ{
    transform: skewY(2deg);
    -webkit-transform: skewY(-6deg);
     color:white;
     font-family:'VAG Rounded std';
}
.feats{
    transform: skewY(2deg);
    -webkit-transform: skewY(-6deg); 
    color:f22691;
    font-family:'VAG Rounded std';
}
#Vide{
    background-image: url('../Home-assets/video-poster.jpg');
    float: right;
}
#insa{
    color: #f22691; 
    font-weight: bold;
    text-align: center;
    padding: 6px 6px 6px 6px;
    font-family:'VAG Rounded std';
}
#BBFColor{
    color: #462202;
    font-weight:bold;
    text-align: center;
    font-size: 13px;
    padding-bottom:8px;
}
.sharing{
    background:transparent url('../Home-assets/bg-btm.png') no-repeat center; 
    color:#f22691;
    font-weight: bold;
    font-size: 12px;
    line-height: 1em;
    text-align: center;
    padding: 6px 6px 6px 6px;
}
#footers li{
    list-style-type: none;
    font-size: 11px;
    color: white;  
}
#footers{
    background:transparent url('../Home-assets/footer-bg.png') no-repeat center center /cover;
    padding-bottom: 15px;
    float: left;
}
#footers h4 ,h3{
    font-size: 15px;
    color: white; 
    font-weight: bold;
}
#foMe ,ul{
    color: white; 
    font-size: 15px; 
    font-weight: bold;
    float: left; 
    padding-left:3px;
}
footer{
    font-size: 11px;
    text-align: center;
}